[submodule "sphinx_rtd_theme"]
	path = sphinx_rtd_theme
	url = https://github.com/purduesigbots/sphinx_rtd_theme.git
[submodule "sphinx-tabs"]
	path = sphinx-tabs
	url = https://github.com/purduesigbots/sphinx-tabs.git
	branch = master
