<nav aria-label="Header">
  <div class="bar default">
    <div class="button button-menu" role="button" aria-label="Menu">
      <label class="toggle-button icon icon-menu" for="toggle-drawer">
        <span></span>
      </label>
    </div>
    <div class="stretch">
      <div class="title">
        {{ .Title }}
      </div>
    </div>

    {{ with .Site.Social.twitter }}
    <div class="button button-twitter" role="button" aria-label="Twitter">
       <a href="https://twitter.com/{{ . }}" title="@{{ . }} on Twitter" target="_blank" class="toggle-button icon icon-twitter"></a>
    </div>
    {{ end }}

    {{ with .Site.Social.github }}
    <div class="button button-github" role="button" aria-label="GitHub">
      <a href="https://github.com/{{ . }}" title="@{{ . }} on GitHub" target="_blank" class="toggle-button icon icon-github"></a>
    </div>
    {{ end }}

    {{ $page := . }}
    {{ if eq $page.Title "API"  }}
    <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/js/lunr.min.js"></script>
    <script type="text/javascript">
      var lunrIndex;
      var $results;
      var apiIndex = []; // declaration
      function initLunr() {
        $.getJSON("/apiIndex.json", function(index) {
          continueLunr(index)
        });
      }
      function continueLunr(index) {
          index.forEach(function(entry) {
            apiIndex.push(entry);
          });

          lunrIndex = lunr(function(){
            this.field("title", {
              boost: 10
            });
            this.field("content");
            this.ref("href");
          });
          apiIndex.forEach(function(entry) {
            lunrIndex.add(entry);
          });
      }
      function initUI() {
        $results = $("#results");
        $(".query").keyup(function() {
          $results.empty();
          var query = $(this).val();
          if(query.length < 2) return;
          var results = search(query);
          renderResults(results);
        });
        $(".query").click(function() {
          var query = $(this).val();
          if (query.length > 0) {
            var results = search(query);
            renderResults(results);
          }
        })
      }
      function search(query) {
        return lunrIndex.search(query).map(function(result) {
          return apiIndex.filter(function(entry) {
            return entry.href === result.ref;
          })[0];
        });
      }
      function renderResults(results) {

        if (!results.length) return;
        results.slice(0,10).forEach(function(result) {
          var $result = $("<li>");
          $result.addClass("result");
          $result.append($("<a>", {
            class: "result-link",
            href: result.href,
            text: result.title,
            click: function() {
              $results.empty();
              renderResults($results)
            }
          }));
          $results.append($result);
        });
      }
      initLunr();

      $(document).ready(function() {
        initUI();
      });
    </script>
    <div class="button button-search" role="button" aria-label="Search">
      <label class="toggle-button icon icon-search" title="Search" for="toggle-search"></label>
    </div>
    {{ end }}

  </div>
  <div class="bar search">
    <div class="button button-close" role="button" aria-label="Close">
      <label class="toggle-button icon icon-back" for="toggle-search"></label>
    </div>
    <div class="stretch">
      <div class="field">
        <input class="query" type="text" placeholder="Search API" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck>
      </div>
    </div>
    <div class="button button-reset" role="button" aria-label="Search">
      <button class="toggle-button icon icon-close" id="reset-search"></button>
    </div>
  </div>
  <div class="results list" id="results">
    <div class="stretch">
      <ul id="results"></ul>
    </div>
  </div>
</nav>
